#user-photo {
    width: 100%;
    vertical-align: middle;
    border-style: none;
}

#home-img {
    background: url(../public/images/Friend\ Finder\ Background\ image.jpg) top center / 1920px 1200px;
}

#home-header {
    background-color: rgb(128, 122, 122)
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}